* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    color: blue;
}

  /* Header/logo Title */
.header {
    padding: 80px;
    text-align: center;
    background: #2071f5;
    color: white;
}

  /* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
}

  /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

  /* Style the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


  /* Right-aligned link */
.navbar a.right {
    float: right;
}

  /* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

  /* Active/current link */
.navbar a.active {
    background-color: #666;
    color: white;
}

.main {
    margin-left: 1em;
    margin-right: 1em;
}

.logo {
    height: 380px;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

.footer iframe {
  width: 1640px;
  height: 700px;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .logo {
      height: 250px;
  }
  
  .footer iframe {
      width: 240px;
      height: 200px;
  }
}
      
@media only screen and (min-width: 375px) and (max-width: 424px) {
  .logo {
    height: 275px;
  }
      
  .footer iframe {
    width: 325px;
    height: 275px;
  }
}
      
@media only screen and (min-width: 425px) and (max-width: 450px) {   
  .logo {
    height: 325px;
  }

  .footer iframe {
    width: 375px;
    height: 325px;
  }
}

@media only screen and (min-width: 530px) and (max-width: 630px) {
  .logo {
    height: 500px;
  }

  .footer iframe {
    width: 480px;
    height: 430px;
  }
}

@media only screen and (min-width: 750px) and (max-width: 800px) {
  .footer iframe {
    width: 718px;
    height: 500px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .footer iframe {
    width: 974px;
    height: 624px;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1499px) {
  .footer iframe {
    width: 1390px;
    height: 800px;
  }
}

@media only screen and  (min-width: 1500px) and (max-width: 1632px) {
  .footer iframe {
    width: 1450px;
    height: 800px;
  }
}

@media only screen and (min-width: 2560px) {
  body{
    font-size: larger;
  }

  p, figcaption, a {
      font-size: 40px;
  }

  .header {
      padding: 150px;
  }

  .header h1 {
      font-size: 100px;
  }

  .navbar {
      padding: 10px;
  }

  .logo {
    height: 750px;
  }

  .footer h2 {
    font-size: 60px;
  }

  .footer iframe {
    width: 2510px;
    height: 1000px;
  }
}